body {
    background: $darkgrey;
    color: $white;
    font-family: 'Arial', sans-serif;
    font-size: 62.5%;
    line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
    color: $grey;
    font-family: 'Museo';
    font-weight: 500;
    margin: 0 0 0.2em 0;
}

p {
    margin: 0 0 1em 0;
}

input, select, textarea, button {
    font-size: 16pt;
    font-family: 'Arial', sans-serif;
}

input.text, textarea {
    background: $white;
    border: 1px solid $darkestgrey;
    @include border-radius(2px);
    color: $darkestgrey;
    padding: 0.2em 0;
    width: 100%;
    
    &:focus {
        background: $focuscolour;
    }
}

button, input.submit, a.btn {
    @include border-radius(2px);
    @include box-shadow(rgba($darkestgrey, 1) 0 0 1px);
    border: 1px solid $lightgrey;
    color: $darkestgrey;
    padding: 0.3em 0;
    text-decoration: none;
    width: 100%;
    
    &:hover {
        border: 1px solid $lightestgrey;
        cursor: pointer; 
    }
}

button, a.btn {
    background: $brandcolour2;
    @include background-image(linear-gradient(top, $brandcolour2 47%,$brandcolour1 100%));
    
    &:hover {
        background: $brandcolour2;
        @include background-image(linear-gradient(top, $brandcolour2-highlight 47%,$brandcolour1 100%));        
    }
}

input {
    &.submit {
        background: $brandcolour1;
        @include background-image(linear-gradient(top, $brandcolour1 47%,$brandcolour3 100%));
        float: right;
        margin: 0 0 0 4px;
        
        &:hover {
            background: $brandcolour2;
            @include background-image(linear-gradient(top, $brandcolour2 47%,$brandcolour3 100%));
        }
    }
}

button, input {
    &.btn-danger {
        background: #eaa395;
        @include background-image(linear-gradient(top, #eaa395 7%, #d77562 100%));
        
        &:hover {
            background: #eaa395;
            @include background-image(linear-gradient(top, #eaa395 47%, #dc6148 100%));        
        }
    }
}

label {
    color: $lightgrey;
    font-family: 'Museo';
    font-size: 16pt;
    font-weight: 300;
}

div {
    &.header-inner, &.content-inner, &.footer-inner {
        margin: 0 auto;        
    }
       
    &.header {
        border-bottom: $border;
    }
    
    &.header-inner {
        height: $title-height;
        width: $cols4;
    }
    
    &.title {
        background: url('../img/logo.png') 0 -23px no-repeat;
        float: left;
        height: $title-height + 30;
        padding: 0 0 0 100px;
        position: absolute;
        width: $cols4 - 100;
        
        h3 {
            font-size: 3.6em;
            font-weight: 300;
            line-height: $title-height;
            
            a {
                color: $white;
                text-decoration: none;
            }
        }
    }
    
    &.usermenu {
        font-size: 1.2em;
        height: 20px;
        padding: $gutter/2 0;
    }
    
    &.usermenu-inner {
        float: right; 
        margin: 0 $gutter/2 0 0;
               
        ul {
            list-style: none;
            
            li {
                color: $grey;
                display: inline;
                padding: 0 0 0 1em;
                
                a {
                    color: $lightgrey;
                    text-decoration: none;
                    
                    &:hover {
                        color: $hovercolour;
                        text-decoration: underline;
                    }
                }
            }
        }
        
        span {
            display: none;
        }
    }
    
    &.navigation {
        position: absolute;
        width: 100%;
    }
    
    &.navigation-inner {
        text-align: right;
            
        ul {
            li {
                display: inline;
                font-size: 1.4em;
                padding: 0;
                             
                a {
                    color: $lightgrey;
                    cursor: pointer;
                    float: right;
                    font-weight: 700;
                    height: 24px;
                    padding: 6px 0 0 0;
                    text-align: center;
                    text-decoration: none;
                    width: $cols2 + $gutter;
                    
                    &:hover {
                        color: $hovercolour;
                        text-decoration: underline;
                    }
                }
                
                ul {
                    clear: right;
                    display: none;
                    position: absolute;
                    margin: 40px 0 0 0;
                }
                
                li {
                    font-size: 0.9em;
                    float: none;
                    
                    a {
                        background: none;
                        display: inline;
                        float: none;
                        font-weight: 400;
                        margin: 0 0 0 $gutter/2;
                        text-align: left;
                        width: auto;
                        
                        &:hover {
                            color: $hovercolour;
                            text-decoration: underline;
                        }
                    }
                }
                
                &.active {
                    ul {
                        display: block;
                    }
                    
                    a {
                        background: $darkestgrey;
                        border-top: $border;
                        border-left: $border;
                        border-right: $border;
                        color: $white;
                        cursor: default;
                        
                        &:hover {
                            color: $white;
                            text-decoration: none;
                        }
                    }
                    
                    li {
                        a {
                            border: none;
                            color: $lightgrey;
                            cursor: pointer;
                            
                            &:hover {
                                color: $hovercolour;
                                text-decoration: underline;
                            }
                        }
                        
                        &.active {
                            a {
                                color: $white;
                                cursor: default;
                                font-weight: 700;
                                
                                &:hover {
                                    color: $white;
                                    text-decoration: none;
                                }                              
                            }
                        }
                    }
                }
            }
        }
    }
    
    &.content {
        background: $darkestgrey;
        clear: both;
        font-size: 1.4em;
        padding: $gutter $gutter/2;
    }
    
    &.welcome-introduction-inner, &.login-thirdparty-inner, 
    &.linked-accounts-add-inner, &.contact-details-edit-inner,
    &.administration-form form {
        margin: 0 $gutter/2;
    }
    
    &.welcome-introduction {
        font-family: 'Museo';
        font-weight: 300;
        font-size: 1.2em;
    }
    
    &.welcome-introduction-inner {
        padding: $gutter/2 0 0 0;
    }
    
    &.login-thirdparty, &.linked-accounts-add, 
    &.contact-details-edit, &.administration-form {
        background: $hovercolour;
        @include border-radius(4px);
        margin: $gutter 0 0 0; 
        
        h1, h3 {
            color: $darkestgrey;
            font-size: 1.2em;
            margin: 0 0 0.2em 0;
            padding: 0.2em 0 0 0;
        }
        
        p {
            color: $darkestgrey;
            font-size: 1.2em;
            margin: 0 $gutter/2 $gutter $gutter/2;
        }
        
        label {
            color: $darkgrey;
        }
    }
    
    &.login-thirdparty, &.linked-accounts-add {        
        ul {
            margin: 1.2em auto 0 auto;
            width: ($third-party-button-size * 2) + (10px * 2)
        }
        
        li {
            &.third_party {
                @include box-shadow(rgba($darkgrey, 0.4) 0 0 10px);
                @include border-radius(4px);
                float: left;
                font-size: 0.7em;
                list-style: none;
                margin: 0 0 5px 5px;
                
                a {
                    border: 1px solid $grey;
                    @include border-radius(4px);
                    color: $white;
                    display: block;
                    height: $third-party-button-size;
                    text-align: center;
                    text-decoration: none;
                    width: $third-party-button-size;
                    
                    &:hover {
                        border: 1px solid $lightgrey;
                    }
                    
                    span {
                        background-image: url('../img/auth-logos.png');
                        background-repeat: no-repeat;
                        display: block;
                        height: $third-party-button-size - ($third-party-button-size - 21);
                        padding: $third-party-button-size - 21 0 0 0;                        
                        width: $third-party-button-size;
                    }
                }
            }
            
            &.google {                
                a {
                    background-color: #366aed;
                    @include background-image(linear-gradient(top, #366aed 47%,#2b42bf 100%));
                    
                    &:hover {
                        background-color: #4b7bf4;
                        @include background-image(linear-gradient(top, #4b7bf4 47%,#2b42bf 100%));
                    }
                    
                    span {
                        background-position: 9px 1px;
                    }
                }
            }
            
            &.yahoo {                
                a {
                    background-color: #65348d;
                    @include background-image(linear-gradient(top, #65348d 47%,#471a6c 100%));
                    
                    &:hover {
                        background-color: #804aac;
                        @include background-image(linear-gradient(top, #804aac 47%,#471a6c 100%));
                    }
                    span {
                        background-position: 9px -208px;
                    }
                }
            }
            
            &.facebook {
                a {
                    background-color: #2d3f8D;
                    @include background-image(linear-gradient(top, #2d3f8D 47%,#1d3477 100%));
                    
                    &:hover {
                        background-color: #4a5db3;
                        @include background-image(linear-gradient(top, #4a5db3 47%,#1d3477 100%));
                    }
                    
                    span {
                        background-position: 9px -313px;
                    }
                }
            }
            
            &.twitter {
                a {
                    background-color: #24bef8;
                    @include background-image(linear-gradient(top, #24bef8 47%,#159ed2 100%));
                    
                    &:hover {
                        background-color: #58d1ff;
                        @include background-image(linear-gradient(top, #58d1ff 47%,#159ed2 100%));
                    }
                    
                    span {
                        background-position: 9px -102px;
                    }
                }
            }
        }
    }
    
    &.login-thirdparty-inner, &.linked-accounts-add-inner, 
    &.contact-details-edit-inner, &.administration-form {
        padding: $gutter/2 0;
    }
    
    &.login-help {
        color: $darkestgrey;
        clear: left;
        font-size: 0.9em;
        padding: 2em 0 0 0;
    }
    
    &.content-footer {
        clear: both;
    }
    
    &.subdomains {
        li {
            list-style-type: square;
            margin: 0 0 0.6em 20px;
        }
        
        p {
            color: $lightgrey;
            margin: 0 0 0.2em 0;
            
            &.link {
                font-size: 1.3em;
            }
        }
        
        a {
            color: $white;
            text-decoration: none;
            
            &:hover {
                color: $hovercolour;
                text-decoration: underline;
            }
        }
    }
    
    &.user-details, &.linked-accounts {
        padding: 1em 0 0 0;
    }
    
    &.user-details, &.linked-accounts {
        a {
            color: $lightgrey;
            text-decoration: none;
            
            &:hover {
                color: $hovercolour;
                cursor: pointer;
                text-decoration: underline;
            }
        }
    }
    
    &.user-details {
        p {
            font-size: 0.9em;
            
            &.account-name {
                margin: 0;
            }
            
            &.account-email {
                color: $lightgrey;
            }
        }
    }
    
    &.linked-accounts {        
        ul {
            margin: 0 0 0.6em 0;
        }
        
        li {
            background-image: url('../img/auth-logos.png');
            background-repeat: no-repeat;
            color: $white;
            font-size: 0.9em;
            list-style: none;
            margin: 0 0 0.3em 0;
            padding: 2px 0 2px 24px;
            
            a {
                color: $white;
            }
            
            form, fieldset {
                display: inline;
                margin: 0;
                padding: 0;
            }
            
            button {
                background: none;
                @include background-image(none);
                @include border-radius(0px);
                @include box-shadow(none);
                border: 0px none;
                color: $lightgrey;
                font-size: 0.9em;
                margin: 0;
                padding: 0;
                width: auto;
                
                &:hover {
                    background: none;
                    @include background-image(none);
                    border: 0px none;
                    color: $hovercolour;
                    cursor: pointer; 
                    text-decoration: underline;
                }
            }
            
            &.google {                
                background-position: -130px 1px;
            }
            
            &.yahoo {                
                background-position: -130px -209px;
            }
            
            &.facebook {
                background-position: -130px -314px;
            }
            
            &.twitter {
                background-position: -130px -102px;
            }
        }
    }
    
    &.linked-accounts-add, &.contact-details-edit {
        clear: both;
        display: none;
    }
    
    &.linked-accounts-add {        
        div.form-controls {
            text-align: center;
            margin: 0;
            padding: 0 0 0.5em 0;
        }
    }
    
    &.administration-form {
        h1 {
            font-size: 1.6em;
        }
        
        div {
            &.field-value {
                p {
                    margin-bottom: 0.1em;
                    
                    &.help-text {
                        @include info-message;
                    }
                }
            }
            
            &.field-value-inline {
                float: left;
                margin: 0.3em 0.5em 0 0.3em;
            }
                   
            &.field-checkbox {
                margin: 0 0 $gutter/2 $gutter/2;
                
                label {
                    font-family: 'Arial', sans-serif;
                    font-size: 1em;
                }
                
                p {
                    font-size: 1em;
                    margin: 0;
                }
            }
        }
    }
    
    &.footer {
        border-top: $border;
        color: $grey;
        font-size: 1.2em;
        padding: $gutter 0 $gutter * 2 0;
    }
    
    &.footer-inner {
        margin: 0 auto;
        
        p {
            margin: 0 $gutter/2;
        }
        
        a {
            color: $grey;
            text-decoration: none;
            
            &:hover {
                color: $hovercolour;
                text-decoration: underline;
            }
        }  
    }
    
    &.field-row {
        clear: left;
        margin: 0 0 1em 0; 
    }
    
    &.form-controls, &.form-controls-confirm {
        clear: left;
        padding: 0.4em 0 1em 0;
        margin: 0 0.5em 0 0;
    }
    
    &.form-controls-confirm {
        display: none;
    }
    
    &.field-error {
        input.text {
            background: $errorcolour;
            border: 1px solid $brandcolour2;
            @include border-bottom-left-radius(0px);
            @include border-bottom-right-radius(0px);   
            
            &:focus {
                background: $focuscolour;
            }         
        }
    
        div.field_error {
            @include info-message;       
        }
    }
    
    &.administration {
        table {
            border-collapse: collapse;
            border-bottom: 1px solid $darkgrey;
            margin: 0.8em 0;
            width: 100%;
            
            th {
                color: $grey;
                font-weight: 400;
                padding: 0.5em 0.8em;
                text-align: left;
                
                &.id {
                    text-align: center;
                }
                
                &.action {
                    font-size: 0.9em;
                }
            }
            
            td {
                color: $darkgrey;
                background: $brandcolour1;
                font-size: 0.9em;
                padding: 0.5em 1.5em 0.5em 0.8em;
                text-align: left;
                vertical-align: top;
                
                &.id {
                    text-align: right;
                }
                
                &.name {
                    color: $darkestgrey;
                    font-weight: 700;
                    
                    p {
                        margin: 0;
                        
                        &.info {
                            font-size: 0.8em;
                            font-weight: 400;
                        }
                    }
                }
                
                &.users {
                    text-align: center;
                    
                    a {
                        color: $darkgrey;
                        text-decoration: none;
                        
                        &:hover {
                            color: $hoveraltcolour;
                            text-decoration: underline;
                        }
                    }
                }
                
                &.permissions, &.roles {
                    white-space: nowrap;
                    
                    li {
                        list-style: none;
                    }
                    
                    a {
                        color: $darkgrey;
                        text-decoration: none;
                        
                        &:hover {
                            color: $hoveraltcolour;
                            text-decoration: underline;
                        }
                    }
                    
                    span.link-indicator {
                        color: $darkgrey;
                    }
                }
                
                &.first-child {
                    border-left: 1px solid $darkgrey;
                }
                
                &.last-child {
                    border-right: 1px solid $darkgrey;
                }
            }
            
            tr.even {
                td {
                    background: $brandcolour3;
                }
            }
            
            th.action, td.action {
                padding-right: 0.5em;
                text-align: right;
                
                a {
                    background: $brandcolour1;
                    @include background-image(linear-gradient(top, $brandcolour1 47%,$brandcolour3 100%));
                    @include border-radius(2px);
                    @include box-shadow(rgba($darkestgrey, 1) 0 0 1px);
                    border: 1px solid $lightgrey;
                    color: $darkestgrey;
                    padding: 0.2em 0.5em;
                    position: relative;
                    text-decoration: none;
            
                    &:hover {
                        background: $brandcolour2;
                        @include background-image(linear-gradient(top, $brandcolour2 47%,$brandcolour3 100%));
                        border: 1px solid $lightestgrey;
                        cursor: pointer; 
                    }
                }
            }
        }
    }
    
    &.alert {
        border-bottom: 1px solid $darkestgrey;
        color: $darkestgrey;
        font-size: 1.3em;
        margin: 0;
        
        button {
            background: none;
            @include background-image(none);
            border: 1px solid $darkestgrey;
            @include box-shadow(none);
            color: $darkestgrey; 
            float: right;
            font-size: 1.3em;
            font-weight: 700;
            line-height: 1;
            margin: -0.1em 5px 0 0;
            padding: 2px 5px 1px 5px;
            width: auto;
            
            &:hover {
                background: none;
                @include background-image(none);
                border: 1px solid $white;
                color: $white;
            }
        }
    }
    
    &.alert-info, &.alert-error {
        padding: 0.4em 0;
        text-align: center;
    }
    
    &.alert-info {
        background: $lightgrey;
    }
    
    &.alert-error {
        background: $errorcolour;
    }
    
    &.dialog-visible {
        display: none!important;
    }
}

span {
    &.link-indicator {
        color: $grey;
        margin: 0 0.2em 0 0;
    }
}

body.authenticated {
    div {
        &.header-inner {
            width: 100%;
        }
    }
}