div {    
    &.title {
        background-image: url('../img/logo@2x.png');
        background-size: 95px 230px;
    }
    
    &.login-thirdparty {
        li {
            &.third_party {
                a {
                    span {
                        background-image: url('../img/auth-logos@2x.png');
                        background-size: 150px 377px;
                    }
                }
            }
        }
    }
    
    &.linked-accounts {        
        li {
            background-image: url('../img/auth-logos@2x.png');
            background-size: 150px 377px;            
        }
    }    
}
    
    