div {
    &.container {   
        width: $cols10;
    }
    
    &.welcome-introduction {
        float: left;
        width: $cols4 - $gutter/2;
    }
    
    &.login-thirdparty {
        float: left;
        margin: 0 0 0 $gutter;
        width: $cols6 - $gutter/2;
    }
}