label, input, select, textarea, button, a.btn {
    font-size: 1.2em;
}

input.text, textarea {
    padding: 0.3em $gutter/2;
    width: auto;
}

button, input.submit, a.btn {
    padding: 0.3em 1em;
    width: auto;
}

div {
    &.navigation, &.navigation-inner ul li ul, &.content-inner, &.footer-inner {   
        width: $cols8;
    }
    
    &.header-inner {
        width: $cols5;
    }
    
    &.usermenu-inner {
        margin: 0;
        
        span {
            display: inline;
        }
    }
    
    &.content {
        padding: $gutter * 2 $gutter/2;
    }
    
    &.login-thirdparty, &.linked-accounts-add {        
        ul {
            width: ($third-party-button-size * 4) + (10px * 4)
        }
    }
    
    &.subdomains {
        float: left;
        width: $cols5;
    }
    
    &.user-details, &.linked-accounts {
        clear: right;
        float: right;
        width: $cols3;
    }
    
    &.linked-accounts-add, &.contact-details-edit {
        margin: 0 0 0 $cols1 + (2 * $gutter);
        position: absolute;
        top: 90px;  
        width: $cols6;
    }
    
    &.contact-details-edit {        
        input.text {
            width: $cols6 - (2 * $gutter);
        }
    }
    
    &.connect-create {
        form {
            width: $cols6;
            
            input.text {
                width: $cols6 - $gutter;
            }
        }
    }
    
    &.dialog-visible {
        display: inherit!important;
    }
    
    &.administration-form {
        margin: $gutter/2 auto 0 auto;
        width: $cols7;
        
        input.text, textarea {
            width: $cols7 - $gutter * 2;
        }
        
        div {            
            &.field-checkbox {
                float: left;
                margin: 0 $gutter/2 $gutter/2 $gutter/2;
                width: $cols3;
            }
        }
    }
}

body.authenticated {
    div {
        &.header-inner {
            width: $cols8;
        }
    }
}