div {
    &.navigation, &.content-inner, &.footer-inner {   
        width: $cols10;
    }
    
    &.welcome-introduction {
        float: left;
        margin: $gutter + 2 0 0 0;
        width: $cols4 - $gutter/2;
    }
    
    &.login-thirdparty {
        float: left;
        margin: $gutter 0 $gutter $gutter;
        width: $cols6 - $gutter/2;
    }
    
    &.subdomains {
        width: $cols7;
    }
}

body.authenticated {
    div {
        &.header-inner {
            width: $cols10;
        }
    }
}