@import "compass/css3";
@import "compass/utilities";
@import "compass/support";

@font-face {
    font-family: 'Museo';
    src: url('../fonts/Museo500-Regular-webfont.eot');
    src: url('../fonts/Museo500-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Museo500-Regular-webfont.woff') format('woff'),
         url('../fonts/Museo500-Regular-webfont.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Museo';
    src: url('../fonts/Museo300-Regular-webfont.eot');
    src: url('../fonts/Museo300-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Museo300-Regular-webfont.woff') format('woff'),
         url('../fonts/Museo300-Regular-webfont.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

$darkestgrey: #292828;
$darkgrey: #3a3a3c;
$grey: #9b9b9b;
$lightgrey: #ccc;
$lightestgrey: #eee;
$white: #fff;
$black: #000;
$brandcolour1: #5abfcf;
$brandcolour2: #93d1de;
$brandcolour2-highlight: #bee6ee;
$brandcolour3: #25adcb;
$focuscolour: #fafaee;
$errorcolour: #f7f7dd;
$hovercolour: $brandcolour2;
$hoveraltcolour: #d77562;
$bordercolour: #535353;
$border: 1px solid $bordercolour;

$title-height: 74px;
$third-party-button-size: 70px;

@mixin info-message {
    background: $brandcolour1;
    @include border-radius(4px);
    color: $darkestgrey;
    font-size: 1em;
    padding: 0.4em $gutter/2;
    margin: 2px 0 0 0;
}


@import "frameless";

@import "core";

@media screen and (min-width: $cols8 + 2*$gutter) {
    @import "tablet7inch";
}

@media screen and (min-width: $cols10 + $gutter/2) {
    @import "tablet10inch";
}

@media screen and (min-width: $cols14) {
    @import "desktop";
}

@media screen and (min-width: $cols20) {
    @import "widescreen";
}

@media only screen and (-webkit-min-device-pixel-ratio: 2),
       only screen and (min--moz-device-pixel-ratio: 2),
       only screen and (-o-min-device-pixel-ratio: 2/1),
       only screen and (min-device-pixel-ratio: 2) {
       @import "retina";
}